.container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.bart-map {
  width: 100%;
  max-height: 100%;
  display: inline-block;
}

body {
  background-color: rgba(234, 248, 236, 1.0);
}